body {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#instruction {
    font-style: italic;
}
#minimap {
    border:2px solid #808080; /* Temporary - Grey */
}
#notify {
 /* To-do: ? */
}
#exhibit {
 border:2px solid #808080; /* Temporary - Grey */
}
#lion {
	display: none;
}
#monkey {
	display: none;
}
#giraffe {
	display: none;
}