        body {
            background-color: #ffffff;
        }
        #minimap {
            border:1px solid red;
        }
        #notify {
        	border:1px solid blue;
        }
        #exhibit {
        	border:1px solid green;
        }